<div class="py-5 border-top">
  <div class="container">
    <ul class="list-unstyled boxlayout">
      <div class="col-sm-11">

        <li>
          <a href="https://github.com/mbuotidem">

            {%- if site.author -%}
            {{ site.author | escape }}
            {%- else -%}
            {{ site.title | escape }}
            {%- endif -%}

        </li>
        </a>
        {%- if site.email -%}
        <a href="mailto:{{ site.email }}">
          <li>
            {{ site.email }}

          </li>
        </a>
        {%- endif -%}
      </div>
      <div class="col-sm-1 boxlayout text-right">
        <a href="https://www.linkedin.com/in/mbuotidemisaac/">
          <li>
            <i class="fab fa-linkedin-in footer-link" aria-hidden="true"></i>
          </li>
        </a>
      
      
        <a href="https://github.com/mbuotidem/">
          <li>
            <i class="fab fa-github" aria-hidden="true"></i>
          </li>
        </a>
      </div>
    </ul>








  </div>
</div>
<!--JS-->