
<div class="py-5 border-top">
  <div class="container">


    <div class="row">

      <div class="col-sm-2">
        <ul class="list-unstyled">
            <a href="https://github.com/mbuotidem">
          <li>
            
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          
          </li>
        </a>
          {%- if site.email -%}
            <li>
              <a href="mailto:{{ site.email }}">
                {{ site.email }}
              </a>
            </li>
          {%- endif -%}
        </ul>
      </div>


      <div class="col-sm-10 text-right">
        <a href="https://www.linkedin.com/in/mbuotidemisaac/"><i class="fab fa-linkedin-in footer-link" aria-hidden="true"></i></a>
        <a href="https://github.com/mbuotidem/"><i class="fab fa-github" aria-hidden="true"></i></a>
        
      </div>

    </div>

  </div>
</div>
<!--JS-->


