
<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">Résumé</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/lda/index.html">MS 2040 Topic Modelling</a></li>
                
    		</ul>
		</nav>
		
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		
		<footer>
    		<ul>
        		<li><a href="mailto:mail@misaac.me">email</a></li>
        		<li><a href="https://github.com/mbuotidem">github.com/mbuotidem</a></li>
			</ul>
		</footer>
		
	</body>
</html>
