.embed-responsive-10by3 {
    padding-top: 60%;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: thin;
 }


 @media only screen and (max-width: 600px) {
    /* For mobile phones: */
  [class*="embed-responsive-10by3"] {
    padding-top: 150%;
  }
  }